<ion-grid>
    <ion-row>
        <ion-col>
            <br>
            <ion-card class="card1">
                <ion-card-header>
                    Ataque masivo a
                    www.masmovil.com
                </ion-card-header>
                <ion-card-content>
                    Durante las últimas 16 horas se
                    está produciendo un ataque
                    masivo de DDoS, que ha dejado
                    inaccesibles los servicios de
                    www.masmovil.com
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col></ion-col>
        <ion-col>aqui va un grafico</ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="8" class="card2">
            <ion-card class="card2">
                <ion-card-header>
                    Pérdidas de más de 1,2 ME en
                    2018 si no se toman medidas
                </ion-card-header>
                <ion-card-content>
                    Con la tendencia actual, los ciberataques pueden causar a MásMóvil
                    pérdidas de más de 1,2 millones de euros en 2018 si no se toman
                    medidas urgentes. El número de ataques y la intensidad de los
                    ataques van a crecer significativamente, según estudios recientes de
                    la evolución de los ciberataques en Europa.
                </ion-card-content>
                <br>
            </ion-card>
        </ion-col>
        <ion-col >
            <ion-row justify-content-center class="textoRecomendacion">
                <p> Recomendación</p>
            </ion-row>
            <ion-row>
                <ion-card class="rectangulo">
                    <ion-card-content>
                        <ion-icon name="eye" class="icon2"></ion-icon>
                        <p><b>Sensores de temperatura de
                            salida del aire y software de
                            detección de anomalías térmicas
                        </b>
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>