
ion-header{
    font-family: 'Tangerine', serif;
    font-size: 48px;
   
    height: 5px;
    
    .icon_cyber{
       
        margin-left: 5px;
        display: block;
        background-image: url(../../assets/imgs/cyberOps.jpg);
       
        background-repeat: no-repeat;
        background-size: 100% auto;
        width: 170PX;
        height: 50px;
    }
    ion-title{
            text-align: "center";
            margin-left: 10%;
            text-align: center;
            letter-spacing: 2px;
            font-weight: bold;
            letter-spacing: 1px;
            position: absolute;
            top: 10%;
            font-family: 'trebuchet ms';
            //font-style: italic;
            color: rgb(59, 74, 27);
            font-size: 50px;
            @media screen and (max-width:667px){
               
                font-size: 25px;
            
            }
            @media screen and (min-width:667px) and (max-width:1280px){
             
                font-size: 40px;
            
            }
            
        }
    ion-button{
        --background: rgb(173, 194, 86);
  
        font-size: 18px;
        @media screen and (max-width:667px){
            font-size: 8px;
        
        }
        @media screen and (min-width:667px) and (max-width:1280px){
            font-size: 15px;
        
        }
    }
    
    .icon_search {
        margin-top: 2%;
        margin-right: 10%;
        float:right;
        display: block;
        background-image: url(../../assets/imgs/icono-lupa.png);
        background-position: center center;
        background-repeat: no-repeat, repeat;
        background-size: 100% auto;
        width: 32px;
        height: 32px;
        
    }
}

