<ion-grid>
  <ion-row>
    <ion-col size="7">
      <ion-row>
          <ion-card>
              <ion-card-header>
                La puerta del centro de datos
                está abierta para atacantes
              </ion-card-header>
              <ion-card-content>
                En la actualidad, no utilizar técnicas de inteligencia artificial para 
                detectar anomalías de seguridad es equivalente a dejar la puerta 
                abierta para los delincuentes.
              </ion-card-content>
            </ion-card>
      </ion-row>
      <ion-row justify-content-center center class="textoRecomendacion">
          <p> RECOMENDACIÓN</p>
      </ion-row>
      <ion-row justify-content-center> 
          <ion-col>
            <ion-card class="rectangulo">
              <ion-card-content>
                <ion-icon name="eye" class="icon2"></ion-icon>
                <p>Sensores de temperatura de
                  salida del aire y software de
                  detección de anomalías térmicas
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
  
            <ion-card class="rectangulo">
              <ion-card-content>
                <ion-icon ios="ios-flash" md="md-flash" class="icon2"></ion-icon>
                <p>Sistema de reputación para la
                  combinación automática y
                  adaptativa de optimizaciones
                </p>
              </ion-card-content>
            </ion-card>
  
          </ion-col>
        </ion-row>
    <br><br><br><br> 
    </ion-col>

    <ion-col class="foto" size="5">
     
    </ion-col>

  </ion-row>

</ion-grid>